In [1]:
# log data에 loan_result의 is_applied를 event로 추가

In [2]:
# user_spec과 loan_result 가져오기
import pandas as pd
user_spec = pd.read_csv('user_spec.csv')
loan_result = pd.read_csv('loan_result.csv')

In [6]:
# user_spec의 application 정보와 loan_result의 is_applied 정보 합치기
user_app = pd.merge(
    user_spec[['user_id','application_id','insert_time']].drop_duplicates(
        subset='application_id'
    ),
    loan_result[['application_id','is_applied']].dropna(),
    on='application_id'
).sort_values(
    by='is_applied',ascending = False
).drop_duplicates(subset = 'application_id')

In [7]:
# is_applied 정보를 각각 'IsApplied', 'NotApplied' event로 변환
user_app['event'] = user_app['is_applied'].map(
    {1.0: "IsApplied", 0.0: "NotApplied"}
)

In [9]:
# DataFrame 정리
apply_event = user_app[['user_id','event','insert_time']].rename(
    columns = {'insert_time':'timestamp'}
).reset_index()

In [10]:
apply_event

           index  user_id       event            timestamp
0       10270010     3864   IsApplied  2022-03-22 08:55:14
1        9749854   859677   IsApplied  2022-05-27 10:09:26
2        6292014   780015   IsApplied  2022-03-07 10:38:12
3        6825558   402465   IsApplied  2022-04-15 10:28:51
4        2347994   778891   IsApplied  2022-03-18 12:18:42
...          ...      ...         ...                  ...
728879   3520028   457469  NotApplied  2022-05-29 01:06:33
728880   3520220   770735  NotApplied  2022-05-29 19:14:07
728881   3520203   140196  NotApplied  2022-05-29 21:44:03
728882   3520142   694421  NotApplied  2022-05-29 02:22:57
728883   3520130    79821  NotApplied  2022-05-29 12:27:23

[728884 rows x 4 columns]

In [37]:
# applyevent.csv로 내보내기
apply_event.to_csv('applyevent.csv')